<div class="search">
  <%= form_tag '/contributors', class: 'search-form' do %>
    <%= text_field_tag 'url', nil, placeholder: 'Repo URL', class: 'search-input' %>
    <%= submit_tag 'Search', class: 'search-button' %>
  <% end %>
</div>
